.fade-in-section {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
        visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

.account {
    box-sizing: border-box;
    font-family: "Segoe UI";

}

body.account {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    background: #dde5f4;
    
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;

    margin: 0;
    padding: 0;
}

.account nav {
    margin-top: -0.5em;
    margin-left: -0.5em;
    margin-right: -0.5em;
    background-color: #3e4684;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.account a {
    color: inherit;
}

.account .logo {
    margin-top: -7em;
    margin-bottom: -7em;
    margin-left: -5em;
    width: 200px;
    height: auto;
    transform: scale(0.1);
    color: inherit;

}

.account ul {
    display: flex;
}

.account ul li {
    list-style: none;
}

.account ul li a {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: 0.3s;
}

.account ul li a:not(.active):hover {
    background-color: #18226d;
}

.myaccount {
    margin-top: 1%;
    margin-bottom: 20%;
    margin-left: 35%;
    width: 400px;
    background: hsl(212, 87%, 97%);
    padding: 3em;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    box-shadow: 0 0 2em #e6e9f9;
    gap: 1.3em;
}

.myaccount h1{
    margin-top: 1px;
    text-align: center;
}

.myaccount .signup-names {
    display: flex;
    gap: 20px;
}

.myaccount .signup-firstname {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: em;
}

.myaccount .signup-firstname input {
    outline: none;
    border: none;
}

.myaccount .signup-firstname input::-moz-placeholder {
    color: black;
    font-size: 1.05em;

}

.myaccount .signup-firstname input:-ms-input-placeholder {
    color: black;
    font-size: 1.05em;

}

.myaccount .signup-firstname input::placeholder {
    color: #aeaeae;
    font-size: 1.05em;
}

.myaccount .signup-lastname {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: em;
}

.myaccount .signup-lastname input {
    outline: none;
    border: none;
}

.myaccount .signup-lastname input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-lastname input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-lastname input::placeholder {
    color: #aeaeae;
    font-size: 1.05em;
}

.myaccount .signup-email-phone {
    display: flex;
    gap: 20px;
}

.myaccount .signup-email {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: 0em;
}

.myaccount .signup-email input {
    outline: none;
    border: none;
}

.myaccount .signup-email input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-email input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-email input::placeholder {
    color: #aeaeae;
    font-size: 1.05em;
}

.myaccount .signup-phone {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: 0em;
}

.myaccount .signup-phone input {
    outline: none;
    border: none;
}

.myaccount .signup-phone input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-phone input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-phone input::placeholder {
    color: #aeaeae;
    font-size: 1.05em;
}

.myaccount .signup-address {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: 0em;
}

.myaccount .signup-address input {
    outline: none;
    border: none;
    width: 300px;
}

.myaccount .signup-address input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-address input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-address input::placeholder {
    color: #aeaeae;
    font-size: 1.05em;
}

.myaccount .signup-cnp-pass {
    display: flex;
    gap: 20px;
}

.myaccount .signup-cnp {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: 0em;
}

.myaccount .signup-cnp input {
    outline: none;
    border: none;
}

.myaccount .signup-cnp input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-cnp input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .signup-cnp input::placeholder {
    color: #aeaeae;
    font-size: 1.05em;
}

.myaccount .password {
    background: white;
    box-shadow: 0 0 2em #e6e9f9;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    border-radius: 20px;
    color: #4d4d4d;
    margin-top: 0em;
}

.myaccount .password input {
    outline: none;
    border: none;
}

.myaccount .password input::-moz-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .password input:-ms-input-placeholder {
    color: black;
    font-size: 0.9em;
}

.myaccount .password input::placeholder {
    color: #aeaeae;
    font-size: 1.05em;
}

.myaccount .logout{
    
    padding: 1em;
    background: #3e4684;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: 600;
  }

